pkgbase = pongo-control-center
	pkgdesc = Interactive RGB Control Center for Axioo Pongo 725 laptops
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Permana721/Pongo-Control-Center
	install = pongo-control-center.install
	arch = x86_64
	license = GPL
	makedepends = git
	depends = glibc
	depends = clevo-drivers-dkms-git
	source = main.c
	sha256sums = SKIP

pkgname = pongo-control-center
